// Buttons

// Button Link

@mixin btn-link {
  display: block;
  padding: 0.6em 2em 0.3em;
  font-size: clamp(1.2rem, 1rem + 0.8vw, 1.9rem);
  font-weight: 600;
  text-transform: uppercase;

  //   border: 2px solid black;
  //   border-radius: 100px;
  outline: none;

  overflow: hidden;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  transition: $transition-04;

  align-self: center;
  justify-self: center;

  @content;
}

@mixin hover--black {
  @include btn-link;
  color: $color-white;
  @content;

  &::before {
    content: '';
    background-color: $color-black;

    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;

    transition: $transition-04;
  }

  &:hover::before,
  &:focus::before {
    width: 100%;
  }
}

@mixin btn--gray {
  @include hover--black;
  color: $color-black-lighter;
  background-color: $color-gray-lighter;

  &:hover,
  &:focus {
    color: $color-white;
  }
}

@mixin btn--white {
  @include hover--black;
  color: $color-black-lighter;
  background-color: $color-white;

  &:hover,
  &:focus {
    color: $color-white;
  }
}

// Button

@mixin btn {
  //   @include btn--gray;
  border: none;
  background-color: transparent;
  padding: 0.25em 1.5em;
  margin-top: 0.5rem;

  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
}
