// Breakpoints

@mixin breakpoint($bp: 768px) {
  @media (min-width: $bp) {
    @content;
  }
}

// Container

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;

  @content;
}

// Sections

@mixin section-single-col {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;

  @include breakpoint {
    height: 100vh;
    height: 100dvh;
  }

  @content;
}

@mixin section-double-col {
  @include section-single-col;

  @include breakpoint {
    grid-template-columns: 1fr 35%;
    grid-template-rows: 100vh;
    grid-template-rows: 100dvh;
  }

  @content;
}

// Desscription

@mixin description($gap: 1vw, $width: 50ch) {
  width: min($width, 80%);
  margin: 2rem auto;
  text-align: center;
  place-content: center;

  display: grid;
  gap: $gap;

  @content;
}

// Image

@mixin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Heading-underline

@mixin heading-underline {
  position: relative;
  margin-bottom: 1rem;

  &::before {
    content: '';
    background-color: $color-purple;

    position: absolute;
    bottom: -5px;
    left: 50%;
    width: min(30%, 150px);
    height: 3px;

    transform: translateX(-50%);
  }
}

// Form

@mixin form {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;

  @include breakpoint {
    gap: 1.5vw;
    margin-top: 1.5vw;
  }
}

@mixin form-section {
  display: grid;
  border-radius: 4px;

  & > label {
    transition: $transition-03;
  }
}

@mixin form-input {
  font-size: clamp(1.5rem, 1rem + 0.7vw, 2.2rem);
  font-family: $font-josefin;
  line-height: 1.5;
  font-weight: 400;

  color: $color-font-light;
  padding: 0.6em 1em 0.5em;

  border: 1px solid $color-gray-lighter;

  border-radius: 4px;
  outline: none;
  order: 2;
  transition: $transition-03;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    border: 1px solid $color-black;
    color: $color-black;
  }

  &:focus + label {
    color: black;
  }
}
