@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#app {
  min-height: 100vh;
  background-color: $color-white;

  font-size: clamp(1.5rem, 1rem + 0.7vw, 2.2rem);
  font-family: $font-josefin;
  font-weight: 400;
  line-height: 1.5;
  color: $color-font-light;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: $color-black;
}

h2,
h3 {
  //   text-transform: capitalize;
  line-height: 1.3;
}

h1 {
  font-size: clamp(3.5rem, 1rem + 4vw, 5.5rem);
  text-transform: uppercase;
  line-height: 1.1;
}

h2 {
  font-size: clamp(2.5rem, 1rem + 2.4vw, 4rem);
}

h3 {
  font-size: clamp(2rem, 1rem + 1.6vw, 3rem);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
